<h2>収支分類一覧</h2>

<table>
  <thead>
    <tr>
      <th>目的</th>
      <th>名称</th>
      <th>並び順</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_classifications.each do |payment_classification| %>
      <tr>
        <td><%= payment_classification.purpose_i18n %></td>
        <td><%= payment_classification.name %></td>
        <td><%= payment_classification.sort %></td>
        <td><%= link_to '編集', edit_payment_classification_path(payment_classification) %></td>
        <td><%= link_to '削除', payment_classification, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_payment_classification_path, class: "link" %>
