<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Kind</th>
      <th>Amount</th>
      <th>User</th>
      <th>Payment classification</th>
      <th>Payment method</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.day %></td>
        <td><%= reservation.kind %></td>
        <td><%= reservation.amount %></td>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.payment_classification_id %></td>
        <td><%= reservation.payment_method_id %></td>
        <td><%= reservation.note %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
