<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h3><%= "#{payment.errors.count}個のエラーがあります" %></h3>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payed_on %>
    <%= form.date_field :payed_on %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= current_user.name %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :payment_classification_id %>
    <%= form.select :payment_classification_id, PaymentClassification.all.order(:sort).collect { |c| [ c.name, c.id ] } %>
  </div>

  <div class="field">
    <%= form.label :payment_method_id %>
    <%= form.select :payment_method_id, PaymentMethod.all.collect { |m| [ m.name, m.id ] } %>
  </div>

  <div class="field">
    <%= form.label :note, "備考" %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit "保存" %>
  </div>
<% end %>
