<p>
  <strong>支払日:</strong>
  <%= @payment.payed_on %>
</p>

<p>
  <strong>支払金額:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @payment.user.email %>
</p>

<p>
  <strong>支払い分類:</strong>
  <%= @payment.payment_classification.name %>
</p>

<p>
  <strong>支払い方法:</strong>
  <%= @payment.payment_method.name %>
</p>

<%= link_to '編集', edit_payment_path(@payment) %> |
<%= link_to '一覧', payments_path %>
