<%= javascript_pack_tag 'hello_vue' %>

<h2>収支一覧</h2>

<div id="search_field">
  <h3>検索</h3>
  <%= search_form_for @q do |f| %>
    <div>
      <div class="field inline">
        <%= f.label :payed_on_gteq, "支払日" %>
        <%= f.select :payed_on_gteq, search_payed_on_options, include_blank: true %>
      </div>

      <div class="field inline">
        <%= f.label :user_id_eq, "ユーザー" %>
        <%= f.select :user_id_eq, User.name_with_id, include_blank: true %>
      </div>
    </div>

    <div>
      <div class="field inline">
        <%= f.label :payment_classification_id_eq, "収支分類" %>
        <%= f.select :payment_classification_id_eq, PaymentClassification.name_with_id, include_blank: true %>
      </div>

      <div class="field inline">
        <%= f.label :payment_method_id_eq, "収支方法" %>
        <%= f.select :payment_method_id_eq, PaymentMethod.name_with_id, include_blank: true %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "検索" %>
    </div>
  <% end %>
</div>

<table>
  <tr class="blue">
    <th>収入</th>
    <td align="right"><%= @incomes_total_amount.to_s(:delimited) %></td>
  </tr>
  <tr class="red">
    <th>支出</th>
    <td align="right"><%= @payments_total_amount.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th>合計金額</th>
    <td align="right"><%= (@incomes_total_amount + @payments_total_amount).to_s(:delimited) %></td>
  </tr>
</table>

<div id='hello'>
  <app></app>
</div>

<% beginning_of_months.each do |date| %>
  <%= date.strftime('%Y-%m') %>
  <%= pie_chart Payment.name_with_amount(date: date) %>
<% end %>

<div class="clearfix">
  <table class="float-left">
    <% @items_amount_with_classification[0].each do |item| %>
      <tr>
        <th class="multi"><%= item[:payment_classification] %></th>
        <td class="multi" align="right"><%= item[:amount] %></td>
      </tr>
    <% end %>
  </table>

  <table class="float-left">
    <% @items_amount_with_classification[1].compact.each do |item| %>
      <tr>
        <th class="multi"><%= item[:payment_classification] %></th>
        <td class="multi" align="right"><%= item[:amount] %></td>
      </tr>
    <% end %>
  </table>
</div>

<table>
  <thead>
    <tr>
      <th>支払日</th>
      <th>支払金額</th>
      <th>ユーザー</th>
      <th>支払分類</th>
      <th>支払方法</th>
      <th>備考</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.payed_on %></td>
        <% if item.type == "Payment" %>
          <td align="right" class="red"><%= item.amount.to_s(:delimited) %></td>
        <% elsif item.type == "Income" %>
          <td align="right" class="blue"><%= item.amount.to_s(:delimited) %></td>
        <% end %>
        <td><%= item.user.name %></td>
        <td><%= item.payment_classification.name %></td>
        <td><%= item.payment_method.name %></td>
        <td><%= item.note %></td>
        <td>
          <% if item.type == "Payment" %>
            <%= link_to '編集', edit_payment_path(item) %>
          <% elsif item.type == "Income" %>
            <%= link_to '編集', edit_income_path(item) %>
          <% end %>
        </td>
        <td><%= link_to '削除', item, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
