<h2>収支一覧</h2>

<%= params %>

<div id="search_field">
  <h3>検索</h3>
  <%= form_with url: items_path, method: :get, local: true do |f| %>
    <% year_months.each_with_index do |year_month, i| %>
      <label>
        <%= f.check_box :"year_months[]", { checked: year_month.in?(params[:year_months] || []) }, year_month, nil %>
        <%= year_month %>
      </label>
      <% if (i+1) % 6 == 0 %>
        <br>
      <% end %>
    <% end %>

    <div>
      <%= f.submit "検索" %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>支払日</th>
      <th>支払金額</th>
      <th>ユーザー</th>
      <th>支払分類</th>
      <th>支払方法</th>
      <th>備考</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.payed_on %></td>
        <% if item.type == "Payment" %>
          <td align="right" class="red"><%= item.amount.to_s(:delimited) %></td>
        <% elsif item.type == "Income" %>
          <td align="right" class="blue"><%= item.amount.to_s(:delimited) %></td>
        <% end %>
        <td><%= item.user.name %></td>
        <td><%= item.payment_classification.name %></td>
        <td><%= item.payment_method.name %></td>
        <td><%= item.note %></td>
        <td>
          <% if item.type == "Payment" %>
            <%= link_to '編集', edit_payment_path(item) %>
          <% elsif item.type == "Income" %>
            <%= link_to '編集', edit_income_path(item) %>
          <% end %>
        </td>
        <td><%= link_to '削除', item, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
