<!DOCTYPE html>
<html>
  <head>
    <title>Kakeibo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= image_tag("title.png") %></h1>
      <nav>
        <% if current_user %>
          <ul class="clearfix">
            <li><%= link_to "支払金額一覧", payments_path %></li>
            <li><%= link_to "支払金額追加", new_payment_path %></li>
            <li><%= link_to "支払分類", payment_classifications_path %></li>
            <li><%= link_to "支払方法", payment_methods_path %></li>
            <li><%= link_to "ユーザー", users_path %></li>
            <li><%= link_to "ログアウト", :logout, method: :post %></li>
          </ul>
        <% end %>
      </nav>
    </header>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>
  </body>
</html>
