<!DOCTYPE html>
<html>
  <head>
    <title>Kakeibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav">
      <% if current_user %>
        <%= link_to "ユーザー", users_path %>
        <%= link_to "支払金額一覧", payments_path %>
        <%= link_to "支払金額新規登録", new_payment_path %>
        <%= link_to "支払い分類", payment_classifications_path %>
        <%= link_to "支払い方法", payment_methods_path %>
        <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
        <%= link_to "ログアウト", :logout, method: :post %>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>
  </body>
</html>
